.Step1_container{
    display: flex;
}

.Step1_selectBlock{
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 0px;
}

.Step1_previewBlock {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
}

.Step2_AbilityScore {
    display: flex;
    flex-direction: row;
}