{% extends "header.html" %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/chars_create.js')}}" defer> </script>


<div class="container">
    <div class="h1" >
        <p>Create New Character</p>
    </div>

    <div class="row" id="step1">
        <div class="col-md-auto">
            <form id="chars-create-form">
                <div>Name:
                  <p><input placeholder="Character name..."></p>
                </div>
                <div>
                    <label>Class: </label>
                    <br>
                    <select id="class-select">
                        {% for class in classes %}
                            {% if class == preview.class %}
                                <option value="{{ class }}" selected="selected"> {{ class }}</option>
                            {% else %}
                                <option value="{{ class }}"> {{ class }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br>
                </div>
                <br>
                <div>
                    <label>Race: </label>
                    <br>
                    <select id="race-select">
                    {% for race in races %}
                        {% if race == preview.race %}
                            <option value="{{ race }}" selected="selected"> {{ race }}</option>
                        {% else %}
                            <option value="{{ race }}"> {{ race }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </div>
                <br>
                <div>
                    <label>Background: </label>
                    <br>
                    <select id="bg-select">
                    {% for background in backgrounds %}
                        {% if background == preview.background %}
                            <option value="{{ background }}" selected="selected"> {{ background }}</option>
                        {% else %}
                            <option value="{{ background }}"> {{ background }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </div>
                <br>

                <div style="overflow:auto;">
                  <div style="float:left;">
                    <button type="button" id="btn-step2" class="btnRollDice btn btn-outline-dark">Next</button>
                  </div>
                </div>
            </form>
        </div>
        <div class="col-lg-auto">
            <h5>Stats Preview</h5>
            <div class="tg-wrap">
                <table class="table table-hover table-responsive">
                    <thead>
                    <tr>
                        <td>Parameter</td>
                        <td>Source</td>
                        <td>Value</td>
                    </tr>
                    </thead>
                    <tbody>
                       <tr>
                        <td>Size</td>
                        <td>Race</td>
                        <td id="info-size">{{ preview.size }}</td>
                      </tr>
                      <tr>
                        <td>Speed</td>
                        <td>Race</td>
                        <td id="info-speed">{{ preview.speed }}</td>
                      </tr>
                      <tr>
                        <td>Hit dice</td>
                        <td>Class</td>
                        <td id="info-dice">{{ preview.dice }}</td>
                      </tr>
                      <tr>
                        <td>Saves</td>
                        <td>Class</td>
                        <td id="info-saves">{{ preview.saves }}</td>
                      </tr>
                      <tr>
                        <td>Stat Bonus</td>
                        <td>Race</td>
                        <td id="info-bonuses">{{ preview.bonuses }}</td>
                      </tr>
                      <tr>
                        <td rowspan="2">Proficiencies</td>
                        <td>Class</td>
                        <td id="info-proficiencies-class">{{ preview.proficiencies.class }}</td>
                      </tr>
                      <tr>
                        <td>Background</td>
                        <td id="info-proficiencies-bg">{{ preview.proficiencies.bg }}</td>
                      </tr>
                      <tr>
                        <td rowspan="2">Tools</td>
                        <td>Class</td>
                        <td id="info-tools-class" style="word-wrap:break-word;width:30em">{{ preview.tools.class }}</td>
                      </tr>
                      <tr>
                        <td>Background</td>
                        <td id="info-tools-bg">{{ preview.tools.bg }}</td>
                      </tr>
                      <tr>
                        <td rowspan="2">Languages</td>
                        <td>Race</td>
                        <td id="info-languages-race">{{ preview.languages.race }}</td>
                      </tr>
                      <tr>
                        <td>Background</td>
                        <td id="info-languages-bg">{{ preview.languages.bg }}</td>
                      </tr>
                      <tr>
                        <td rowspan="2">Skills</td>
                        <td>Class</td>
                        <td id="info-skills-class">{{preview.skills.class }}</td>
                      </tr>
                      <tr>
                        <td>Race</td>
                        <td id="info-skills-race">{{ preview.skills.race }}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" id="step2" style="display:none;">
        <div class="col-sm-auto">
            <h5>Step 2. Ability scores BEFORE racial bonus</h5>
            <br>
            <p>Class: <b id="info-class">{{preview.class}}</b></p>
            <p>Race: <b id="info-race">{{preview.race}}</b></p>
            <p>Background: <b id="info-background">{{preview.background}}</b></p>
            <p>Stat Bonus:  <b id="info-bonuses-step2">{{preview.bonuses}}</b></p>
            <div>
                <button type="button" id="btn-roll4d6" class="btn btn-primary">Roll 4d6-min(d6)</button>
                 or
                <button type="button" id="btn-roll3d6" class="btn btn-primary">Roll 3d6</button>
            </div>
        </div>
        <div class="col-md-auto">
            <table class="table table-hover">
            <thead>
                <tr>
                    <td>Stat</td>
                    <td>Value</td>
                    <td>Lower</td>
                    <td>Upper</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Strength</td>
                    <td>
                        <input maxlength="2" class="form-control input-sm" style="width:4em;" value="15" id="stat-str-val">
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" id="stat-str-dn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"></path>
                            </svg>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" id="stat-str-up">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"></path>
                            </svg>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Dexterity</td>
                    <td>
                         <input maxlength="2" class="form-control input-sm" style="width:4em;" value="14" id="stat-dex-val">
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" id="stat-dex-dn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"></path>
                            </svg>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" id="stat-dex-up">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"></path>
                            </svg>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Constitution</td>
                    <td>
                        <input maxlength="2" class="form-control input-sm" style="width:4em;" value="13" id="stat-con-val">
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" id="stat-con-dn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"></path>
                            </svg>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" id="stat-con-up">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"></path>
                            </svg>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Intelligence</td>
                    <td>
                        <input maxlength="2" class="form-control input-sm" style="width:4em;" value="12" id="stat-int-val">
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" id="stat-int-dn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"></path>
                            </svg>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" id="stat-int-up">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"></path>
                            </svg>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Wisdom</td>
                    <td>
                        <input maxlength="2" class="form-control input-sm" style="width:4em;" value="10" id="stat-wis-val">
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" id="stat-wis-dn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"></path>
                            </svg>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" id="stat-wis-up">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"></path>
                            </svg>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Charisma</td>
                    <td>
                        <input maxlength="2" class="form-control input-sm" style="width:4em;" value="8" id="stat-cha-val">
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" id="stat-cha-dn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"></path>
                            </svg>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" id="stat-cha-up">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"></path>
                            </svg>
                        </button>
                    </td>
                </tr>
            </tbody>
            </table>
            <div style="overflow:auto;">
                <div style="float:left;">
                    <button type="button" id="btn-step1" class="btn btn-outline-dark">Go back</button>
                </div>
                <div style="float:right;">
                    <button type="button" id="btn-step3" class="btn btn-outline-dark">Next</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="step3" style="display:none;">
        <h5>Step 3. Choose profieciencies</h5>
        <div id="choose-prof">
            <p>From class: <span id="prof-class-step3"></span></p>
            <p>From background: <span id="prof-bg-step3"></span></p>
            <ul class="list-unstyled row">
            {% for ability in preview.proficiencies.all %}
                <li class="list-group-item col-4">
                    <input class="proficiencies" id="prof-{{loop.index0}}" type="checkbox">
                    <label for="prof-{{loop.index0}}" class="control-label">{{ability}}</label>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div style="overflow:auto;">
            <div style="float:left;">
                <button type="button" id="btn-step2-back" class="btn btn-outline-dark">Go back</button>
            </div>
            <div style="float:right;">
                <button type="button" id="btn-step4" class="btn btn-outline-dark">Next</button>
            </div>
        </div>
    </div>

</div>

{% endblock %}
