{% extends "header.html" %}

{% block content %}

<div class="container">
    <div class="h3" >
        <p>Hello there... Welcome to my pet project!</p>
    </div>
    <div class="container" >
        <p>For now I have a:</p>
        <ul>
            <li><a href="/rb" class="link">Resume builder</a></li>
            Right now its only available to modify on page and save in pdf or html, but its work-in-progress.
            Maybe I'll add user accounts later.
            <li><a href="/about" class="link">My resume</a></li>
            I'm up to Developer or Analyst position. Mostly Python but I have other skills as well
            <li><a href="/inchepurnov" class="link">Dad's resume</a></li>
            He is a Technical Director, ready to consider offers.
            <li><a href="/game" class="link">Random Game</a></li>
            Time killer for parties
            <li><a href="/chars" class="link">Chars for DND</a></li>
            My fav chars only and obv not for commercial use (or else you'll have to deal with Hasbro)
        </ul>
    </div>
</div>

{% endblock %}