{% extends "header.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div>
                <p class="h1" style="font-weight: bold">Игорь Чепурнов</p>
                <p class="h4 text-muted" style="font-weight: bold">Директор предприятия</p>
            </div>
            <div class="p-3">
                <p>Опыт работы <b>свыше 5 лет в должности главного инженера</b> на спиртовых заводах, функции: организация
                    технического обслуживания и ремонтов производственного оборудования, обслуживания систем водоснабжения, водоотведения, отопления, теплоснабжения, вентиляции, электросетей.
                    Модернизация действующих производств. В подчинении: механическая служба, электроцех, котельная, участок КИПиА, транспортный участок.
                    Опыт работы <b>свыше 6 лет в должности главного энергетика</b>, обеспечение функционирования энергообьектов
                    предприятия. Опыт строительства и ввода в эксплуатацию новых промышленных объектов. Взаимодействие с проектными организациями,
                    технический надзор за СМР, организация проведения пуско-наладочных работ</p>
            </div>

        </div>
        <div class="col-md-4">
            <img class="rounded-circle" width="400" src="{{ url_for('static', filename='inchepurnov.png')}}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p class="h3" style="font-weight: bold">Опыт работы</p>
            <div class="p-3">
                <div class="row">
                    <div class="col-sm-4">
                        <p class="h5" style="font-weight: bold">Генеральный директор</p>
                        <p class="h5" style="font-weight: bold">ООО "Эталон"</p>
                        <p class="text-muted" style="font-weight: lighter">Ноя 2022 - настоящее время</p>
                    </div>
                    <div class="col-sm-8">
                        <ul class="list-group">
                            <li>Оперативное управление штатом предприятия;</li>
                            <li>Управление производственным циклом с целью обеспечения исполнения плана
                            производства;</li>
                            <li>Разработка и контроль исполнения комплекса мероприятий по охране труда,
                            промышленной и пожарной безопасности, гражданской обороне;</li>
                            <li>Обеспечение нормативного уровня реализации произведенной продукции;</li>
                            <li>Оптимизация производственных процессов, направленная на увеличение
                            производительности, снижение издержек, улучшение качества продукции;</li>
                            <li>Инициация проектов модернизации и расширения производства, проектное управление;</li>
                            <li>Поддержание плановой себестоимости;</li>
                            <li>Оптимизация затрат на производство и хранение продукции, на эксплуатацию и ремонт
                            основных средств;</li>
                           <li>Бюджетирование (подготовка и исполнение инвестиционного бюджета и бюджета
                            текущих затрат);</li>
                            <li>Отчетность по деятельности компании и достижению ключевых показателей</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="p-3">
                <div class="row">
                    <div class="col-sm-4">
                        <p class="h5" style="font-weight: bold">Технический директор</p>
                        <p class="h5" style="font-weight: bold">ООО "КурскПродукт"</p>
                        <p class="text-muted" style="font-weight: lighter">Май 2022 - Ноя 2022</p>
                    </div>
                    <div class="col-sm-8">
                        <ul class="list-group">
                            <li>Планирование и руководство технической деятельностью предприятия.</li>
                            <li>Организация и управление процессом эксплуатации и обслуживания технологического
                            оборудования и инженерной инфраструктуры.</li>
                            <li>Эксплуатация территории, зданий, инженерных коммуникаций и их эффективное
                            использование.</li>
                            <li>Представление интересов предприятия и взаимодействие с органами государственного
                            контроля и надзора, территориальными органами власти.</li>
                            <li>Взаимодействие с проектными и подрядными организациями при проведении технического
                            перевооружения производств.</li>
                            <li>Формирование бюджета на эксплуатацию, ремонт, модернизацию и новое строительство
                            обьектов.</li>
                            <li>Организация и контроль соблюдения правил и норм по ОТ и ПБ, производственной
                            санитарии, требований природоохранного законодательства, норм пожарной безопасности.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="p-3">
                <div class="row">
                    <div class="col-sm-4">
                        <p class="h5" style="font-weight: bold">Генеральный директор</p>
                        <p class="h5" style="font-weight: bold">ООО "АБСОЛЮТ"</p>
                        <p class="text-muted" style="font-weight: lighter">Авг 2017 - Апр 2022</p>
                    </div>
                    <div class="col-sm-8">
                        <ul class="list-group">
                            <li>Выстраивание и контроль операционных процессов;</li>
                            <li>Реализация стратегии развития с целью повышения ключевых показателей;</li>
                            <li>Постановка целей и задач для структурных подразделений.</li>
                            <li>Организация эффективной работы и взаимодействия всех структурных подразделений;</li>
                            <li>Анализ эффективности деятельности структурных подразделений;</li>
                            <li>Финансовый и экономический анализ деятельности Общества;</li>
                            <li>Бюджетирование Capex/Opex;</li>
                            <li>Контроль за расходами и обеспечение эффективного использования ресурсов.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="p-3">
                <div class="row">
                    <div class="col-sm-4">
                        <p class="h5" style="font-weight: bold">Главный инженер</p>
                        <p class="h5" style="font-weight: bold">ООО Аннинский Спиртзавод</p>
                        <p class="text-muted" style="font-weight: lighter">Окт 2014 - Июл 2017</p>
                    </div>
                    <div class="col-sm-8">
                        <ul class="list-group">
                            <li>Обеспечение бесперебойной работы производства.</li>
                            <li>Организация работы в рамках системы планово-предупредительного ремонта.</li>
                            <li>Реализация проектов развития, расширения производства.</li>
                            <li>Анализ производственных процессов и реализация мероприятий по повышению
                            эффективности работы предприятия.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="p-3">
                <div class="row">
                    <div class="col-sm-4">
                        <p class="h5" style="font-weight: bold">Главный инженер</p>
                        <p class="h5" style="font-weight: bold">ООО КурскПродукт</p>
                        <p class="text-muted" style="font-weight: lighter">Июн 2013 - Окт 2014</p>
                    </div>
                    <div class="col-sm-8">
                        <ul class="list-group">
                            <li>Обеспечение непрерывной круглосуточной работы производства, организация работы в
                            рамках системы планово-предупредительного ремонта, контроль за проведением текущих и
                            капитальных ремонтов оборудования, зданий, сооружений, инженерных сетей и систем</li>
                            <li>Реализация проектов развития предприятия: разработка инвестиционных планов, защита
                            бюджета, подготовка тендерных документов, работа с проектными, монтажными и
                            пусконаладочными организациями.</li>
                            <li>Взаимодействие с надзорными органами, органами исполнительной власти.</li>
                            <li>Работа с персоналом, формирование профессионального ответственного коллектива,
                            выработка решений, направленных на повышение эффективности работы предприятия.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="p-3">
                <div class="row">
                    <div class="col-sm-4">
                        <p class="h5" style="font-weight: bold">Главный энергетик</p>
                        <p class="h5" style="font-weight: bold">ООО Тамбовский бекон</p>
                        <p class="text-muted" style="font-weight: lighter">Июн 2011 - Май 2013</p>
                    </div>
                    <div class="col-sm-8">
                        <ul class="list-group">
                            <li>Ввод в эксплуатацию вновь построенных объектов предприятия: газифицированные цеха и
                            котельные, трансформаторные подстанции, электрические сети.</li>
                            <li>Работа с проектными организациями, согласование проектов в надзорных органах,
                            оформление разрешений на эксплуатацию объектов.</li>
                            <li>Технический надзор за строительством объектов электроснабжения, теплоснабжения,
                            газоснабжения.</li>
                            <li>Организация проведения пусконаладочных работ на объектах энергоснабжения и
                            газоснабжения.</li>
                            <li>Ведение договорной работы, связанной с поставкой энергоресурсов и обслуживанием
                            объектов энергоснабжения сторонними организациями.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="p-3">
                <div class="row">
                    <div class="col-sm-4">
                        <p class="h5" style="font-weight: bold">Главный энергетик</p>
                        <p class="h5" style="font-weight: bold">ОАО "ТАЛВИС"</p>
                        <p class="text-muted" style="font-weight: lighter">Сен 2006 - Сен 2010</p>
                    </div>
                    <div class="col-sm-8">
                        <ul class="list-group">
                            <li>Технический надзор за строительством объектов энергообеспечения предприятия:
                            газифицированная котельная, сети тепло- и электроснабжения, трансформаторные
                            подстанции, системы вентиляции, отопления. водоснабжения.</li>
                           <li>Организация проведения пусконаладочных работ на объектах энергообеспечения.</li>
                            <li>Непосредственное руководство энергетической службой предприятия, организация обучения
                            персонала.</li>
                            <li>Разработка и реализация мероприятий по обеспечению бесперебойной эксплуатации
                            объектов.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3">
                <p class="h3" style="font-weight: bold">Навыки</p>
                <span class="badge" style="background-color: #7ab0ee">Управление производством</span>
                <span class="badge" style="background-color: rgb(122, 176, 238)">Управление проектами</span>
                <span class="badge" style="background-color: rgb(122, 176, 238)">Технический надзор</span>
                <span class="badge" style="background-color: rgb(122, 176, 238)">Формирование бюджета</span>
                <span class="badge" style="background-color: rgb(122, 176, 238)">Договорная работа</span>
                <span class="badge" style="background-color: rgb(122, 176, 238)">Техническая эксплуатация</span>
                <span class="badge" style="background-color: rgb(122, 176, 238)">Права категории B</span>
                <span class="badge" style="background-color: rgb(122, 176, 238)">Личный автомобиль</span>
            </div>
            <div class="p-3">
                <p class="h3" style="font-weight: bold">Образование</p>
                <span>Тамбовский государственный технический университет,
                    Автоматизация технологических процессов и производств</span>
            </div>
            <div class="p-3">
                <p class="h3" style="font-weight: bold">Контакты</p>
                <ul class="p-3 list-group">
                    <li>inchepurnov@gmail.com</li>
                    <li>+7 (915) 788-06-39</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}